/* Resetting default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, menu, nav, form, footer, img {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

/* Ensuring full-width images */
img {
  max-width: 100%;
  height: auto;
}

/* Basic styling for header */
header {
  background-color: #427f10; /* Green color matching the logo */
  padding: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 2px;
}

header h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #fff;
}

/* Styling logo */
header img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: auto;
}

/* Styling navigation */
nav menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav menu li {
  margin-right: 20px;
}

nav menu li a {
  text-decoration: none;
  color: #fff;
}

/* Styling main content */
main {
  padding: 20px;
  background-color: #5a4343;
}

/* Styling individual ads */
.ad-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ad {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ad h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}

.ad img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.ad p {
  margin-bottom: 10px;
}

/* Styling footer */
footer {
  background-color: #427f10;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
